<div class="container">

    <h1>{{text}} </h1>
    <h1>{{message}} message </h1>
    <h1>{{heatlth}} health</h1>
    <h1>
        {{take}} take
    </h1>
    <div class="row">
        <div class="col-sm-4 a1" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
        <div class="col-sm-4 a2" [ngStyle]="{'background-color':colors2}" (click)="smash(colors2)"> akshay</div>
        <div class="col-sm-4 a3" [ngStyle]="{'background-color':colors3}" (click)="smash(colors3)">akshay</div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-4 a4" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
        <div class="col-sm-4 a5" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
        <div class="col-sm-4 a6" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
    </div><div class="row">
        <div class="col-sm-4 a7" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
        <div class="col-sm-4 a8" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
        <div class="col-sm-4 a9" [ngStyle]="{'background-color':colors1}" (click)="smash(colors1)">akshay</div>
    </div> -->
</div>
