.col-sm-4 {
    width: 150px;
    height: 150px;
    top: 50%;
    position: relative;
    background-color: antiquewhite;
    left: 25%;
    padding:20px;
    margin:20px
    // transform: translate(-50%,-50%);

}

.container {
    margin-top: 20px;
    .a1 {
        background-color: aqua;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a2 {
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a3 {
        background-color: red;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a4 {
        background-color: orange;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a5 {
        background-color: blue;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a6 {
        background-color: green;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a7 {
        background-color: rgb(141, 49, 49);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a8 {
        background-color: lawngreen;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .a9 {
        background-color: rgb(130, 198, 198);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@media screen and (max-width:475px) {
    .col-sm-4{
        width:70px;
        height:80px;
        left: 10%;
        padding:2px;
        margin: 2px;
    }
    
}