<div class="container">
    <h1>{{message}} points </h1>
    <h1>{{heatlth}} health</h1>
    <h1>
    </h1>
    <h1>{{text}}</h1>
    <div class="row">
        <div class="col-sm-4 a1" [ngStyle]="{'background-image': 'url(' + colors1  + ')','background-size':'150px'}" (click)="smash(colors1)">
        </div>
        <div class="col-sm-4 a2" [ngStyle]="{'background-image': 'url(' + colors2  + ')','background-size':'150px'}" (click)="smash(colors2)"> </div>
        <div class="col-sm-4 a3" [ngStyle]="{'background-image': 'url(' + colors3  + ')','background-size':'150px'}" (click)="smash(colors3)"></div>
    </div>
    <div class="row">
        <div class="col-sm-4 a4" [ngStyle]="{'background-image': 'url(' + colors4  + ')','background-size':'150px'}" (click)="smash(colors4)"></div>
        <div class="col-sm-4 a5" [ngStyle]="{'background-image': 'url(' + colors5  + ')','background-size':'150px'}" (click)="smash(colors5)"></div>
        <div class="col-sm-4 a6" [ngStyle]="{'background-image': 'url(' + colors6  + ')','background-size':'150px'}" (click)="smash(colors6)"></div>
    </div><div class="row">
        <div class="col-sm-4 a7" [ngStyle]="{'background-image': 'url(' + colors7  + ')','background-size':'150px'}" (click)="smash(colors7)"></div>
        <div class="col-sm-4 a8" [ngStyle]="{'background-image': 'url(' + colors8  + ')','background-size':'150px'}" (click)="smash(colors8)"></div>
        <div class="col-sm-4 a9" [ngStyle]="{'background-image': 'url(' + colors9  + ')','background-size':'150px'}" (click)="smash(colors9)"></div>
    </div>
</div>
